In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/Resources/schools_complete.csv"
student_data_to_load = "Resources/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [80]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [8]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [41]:
#Calculate the total number of schools
tot_schools = len(school_data)

In [40]:
#Calculate the total number of schools
tot_students = len(student_data)

In [13]:
#Calculate the total budget
tot_budget = school_data['budget'].sum()
#tot_budget

24649428

In [17]:
#Calculate the average math score
ave_math_score = student_data['math_score'].mean()
#round(ave_math_score,1)

79.0

In [18]:
#Calculate the average reading score
ave_reading_score = student_data['reading_score'].mean()
#round(ave_reading_score,1)

81.9

In [20]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
ave_passing_rate = (ave_math_score+ave_reading_score) * .5
#round(ave_passing_rate,1)

80.4

In [30]:
#Calculate the percentage of students with a passing math score (70 or greater)
tot_math_pass = len(student_data.loc[student_data['math_score']>=70])
per_math_pass = tot_math_pass/tot_students
#round(per_math_pass*100)

75

In [42]:
#Calculate the percentage of students with a passing reading score (70 or greater)
tot_reading_pass = len(student_data.loc[student_data['reading_score']>=70])
per_reading_pass = tot_reading_pass/tot_students
#round(per_reading_pass*100)

In [83]:
df = pd.DataFrame({
    'Total Students':[tot_students],
    'Total Schools':[tot_schools],
    'Average Math Score':[ave_math_score],
    'Average Reading Score':[ave_reading_score],
    'Average Passing Rate':[ave_passing_rate],
    'Percentage Passing Math':[100* per_math_pass],
    'Percentage Passing Reading':[100*per_reading_pass]
    
})
#df.reindex(labels=['Total District'])
df['Total Students'] = df['Total Students'].map("{:,}".format)
df['Average Math Score'] = df['Average Math Score'].map("{:.1f}".format)
df['Average Reading Score'] = df['Average Reading Score'].map("{:.1f}".format)
df['Average Passing Rate'] =  df['Average Passing Rate'].map("{:.1f}".format)
df['Percentage Passing Math'] =df['Percentage Passing Math'].map("{:.0f}%".format)
df['Percentage Passing Reading'] =df['Percentage Passing Reading'].map("{:.0f}%".format)
df

,Total Students,Total Schools,Average Math Score,Average Reading Score,Average Passing Rate,Percentage Passing Math,Percentage Passing Reading
0,"39,170",15,79.0,81.9,80.4,75%,86%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [120]:
student_mean = student_data.groupby(['school_name'])['reading_score','math_score'].mean()

                       reading_score  math_score
school_name
Bailey High School         81.033963   77.048432
Cabrera High School        83.975780   83.061895
Figueroa High School       81.158020   76.711767
Ford High School           80.746258   77.102592
Griffin High School        83.816757   83.351499
Hernandez High School      80.934412   77.289752
Holden High School         83.814988   83.803279
Huang High School          81.182722   76.629414
Johnson High School        80.966394   77.072464
Pena High School           84.044699   83.839917
Rodriguez High School      80.744686   76.842711
Shelton High School        83.725724   83.359455
Thomas High School         83.848930   83.418349
Wilson High School         83.989488   83.274201
Wright High School         83.955000   83.682222

In [151]:
school_data_gb =school_data_complete.groupby(['school_name'])
school_data_gb['math_score'] >= 70

TypeError: '>=' not supported between instances of 'SeriesGroupBy' and 'int'

In [130]:
school_data.head()
school_data_cons = school_data[['school_name','type','size','budget']]
school_data_cons['Per Student Funding']= school_data['budget']/school_data['size']
#school_data_cons['Average Math Score'] = student_data.groupby(['school_name']).mean()['math_score']
school_data_cons_m = pd.merge(school_data_cons,student_mean, how="left", on=["school_name", "school_name"])
school_data_cons_m  = school_data_cons_m.rename(columns={'reading_score':'Average Redaing Score',
                                                         'math_score':'Average Math Score'})

,school_name,type,size,budget,Per Student Funding,Average Redaing Score,Average Math Score
0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414
1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767
2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455
3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752
4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499
5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201
6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895
7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432
8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279
9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917
10,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222
11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711
12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464
13,Ford High School,District,2739,1763916,644.0,80.746258,77.102592
14,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.